<div class="container my-5">
  <h1>Booking của bạn</h1>

  <div class="my-3">
    <a href="/customer/create" class="btn btn-primary btn-lg"
      ><i class="fas fa-plus"></i>Tạo booking mới</a
    >
  </div>
  <div class="shadow-5-strong rounded-5 overflow-hidden">
    <table class="table align-middle mb-0 bg-white table-hover">
      <thead class="bg-light">
        <tr>
          <th>ID</th>
          <th>Photographer</th>
          <th>Thời gian & Địa điểm</th>
          <th>Trạng thái xác nhận</th>
          <th>Chi tiết</th>
        </tr>
      </thead>
      <tbody>
        <% customerBookings.forEach(({id,
        photographerId,note,location,startAt,endAt,confirmStatus}, index)=>{ %>
        <% const photographer = photographers.find(p => p.id === photographerId)
        %>
        <tr>
          <td><%= id %></td>
          <td>
            <div class="d-flex align-items-center">
              <% if (photographer) { %>
              <div class="">
                <p class="fw-bold mb-1"><%= photographer.name %></p>
                <p class="text-muted"><%= photographer.phone %></p>
              </div>
              <%} else { %>
              <span class="badge badge-success rounded-pill"
                >Chưa xác nhận</span
              >
              <% } %>
            </div>
          </td>
          <td>
            <p class="fw-bold mb-1"><%= location %></p>
            <p class="text-muted"><%= formatDate(startAt) %></p>
          </td>
          <td>
            <% if (confirmStatus === 1) { %>
            <span class="badge badge-success rounded-pill">Đã xác nhận</span>
            <%} else { %>
            <span class="badge badge-success rounded-pill">Chưa xác nhận</span>
            <% } %>
          </td>
          <td>
            <a href="/customer/detail/<%= id %>" class="btn btn-primary"
              >CHI TIẾT</a
            >
          </td>
        </tr>
        <%}) %>
      </tbody>
    </table>
  </div>
</div>
